@model IEnumerable<Ueh.BackendApi.Data.Entities.PhanCong>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-8 offset-2">
            <table class="table table-bordered">
                <thead>
                    <tr class="text-center">
                        <th>STT</th>
                        <th>MA SINH VIEN</th>
                        <th>LOP SV</th>
                        <th>HO</th>
                        <th>TEN</th>
                        <th>NGAYSINH</th>
                        <th>GIAO VIEN HUONG DAN</th>
                    </tr>
                </thead>
                @foreach(var d in Model)
                {
                    <tr class="text-center">
                       <td>@d.stt</td>
                        <td>@d.mssv</td>
                        <td>@d.lopsv</td>
                        <td>@d.ho</td>
                        <td>@d.ten</td>
                        <td>@d.ngaysinh</td>
                        <td>@d.tengv</td>
                    </tr>
                }
            </table>
        </div>
        <div class="col-4 text-center">
            <form method="post" asp-action="ExportToExcel" asp-controller="Excel" >
                <input type="submit" value="Export to CSV" />
            </form>
        </div>

        
    </div>
  
    
</div>
